td.title {
    background-color: "#dddddd";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
td.ordinary {
    background-color: "#eeeeff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
h1 {
    font-size: 18pt
}
.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
h4 {
    color: #cccccc;
    padding: 12px;
}
p {
    font-size: 14pt;
}