td.title {
    background-color: "#dddddd";
    align: "center";
    font-size: 14pt;
    padding: 4px;
}
td.ordinary {
    border: 1px solid #dddddd;
    background-color: "#ffffff;
    align: "center";
    font-size: 14pt;
    padding: 4px;
}
h1 {
    font-size: 18pt
}

h4 {
    color: #cccccc;
    padding: 12px;
}
p {
    font-size: 14pt;
}