{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<a href="marks" class="btn btn-primary">Отметки</a>
<h1 align="center">Расписание {{ week }}</h1>
<a href="{{ week_int - 1 }}">Пред. неделя</a> <a href="{{ week_int + 1 }}">След. неделя</a>
{% if not days %}
<h3 align="center">Рабочих дней нет</h3>
{% endif %}
{% for day in days %}
<h3 align="center">{{ day.name }}</h3>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="200px" bgcolor="#aaaaaa">Предмет</td>
            <td class="title" width="600px" bgcolor="#cccccc">Домашнее задание</td>
            <td class="title" width="200px" bgcolor="#aaaaaa" align="center">Отметки</td>
        </tr>
        {% for lesson in day.lessons %}
        <tr class="my_row">
            <td class="ordinary" align="left" >
                {{ lesson.order }}. {{ lesson.subject.name }}<br>
                <font color="#aaaaaa">{{ lesson.time }}</font><br>
                <font color="#aaaaaa">{{ lesson.classroom }} кабинет</font>
            </td>
            <td class="ordinary" align="left">{{ lesson.homework }}</td>
            <td class="ordinary" align="center">{% for mark in lesson.marks %}<font size=16pt color="#aa0000">{{ mark.value }}</font><br>{% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
{% endfor %}

{% endblock %}